*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}
/* 头部开始 */
.header{
    width: 1518px;
    height: 40px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 7;
}
.header-left{
    float: left;
    margin-left: 100px;
}
.header-left a{
    padding-left: 30px;
    font-size: 12px;
    color: white;
    line-height: 40px;
}
.header-right{
    float: right;
    margin-right: 140px;
    position: relative;
}
.header-right a{
    padding-right: 10px;
    font-size: 12px;
    color: white;
    line-height: 40px;
}
/* 头部结束 */

/* 导航部分开始 */
.nav{
    width: 1518px;
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
    margin-top:40px;
    background-color: #fff;
    cursor: pointer;
}
.nav-one{
    margin-left: 120px;
    float: left;
    margin-right: 100px;
}



.nav-two{
    width: 600px;
    margin: 0 auto;
    float: left;
    height: 90px;
}
.nav-two li{
    width: 150px;
    height: 20px;
    float: left;
    text-align: center;
    margin-top: 35px;
}
.nav-two li a{
    display: inline-block;
    width: 150px;
    height: 20px;
    color: gray;
}
.nav-two li a:hover{
    color: black;
}

.nav-three{
    float: left;
    margin: 28px 50px;
    position: relative;
}
.nav-three input{
    outline: 0;/* 点击文本框时四边没有实线 */
    width: 270px;
    height: 30px;
    border:0px solid #fff;
    border-radius: 20px;
    box-shadow:0 0 5px 2px rgba(0,0,0,0.1);
    padding: 0 30px 0 15px;
    color: gray;
}
.icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 24%;
    left: 235px;
    z-index: 2;
}


/* banner部分  */
.banner{
    width: 1500px;
    margin: 20px auto;
    background-color: antiquewhite;
}



.mod18{width:677px;position:relative;float: left;}
.mod18 .btn{position:absolute;cursor:pointer;font-size:50px;font-weight:bold;}
.mod18 .prev{left:27px;background:url(../images/prevBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:250px;width:32px;height:48px;display: none;}
.mod18 #prev,.mod18 #next{top: 650px;width:10px;height:16px;}
.mod18 #prevTop{background:url(../images/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #nextTop{background:url(../images/nextBtnTop.png) 0 0 no-repeat;}
.mod18 .next{right:-15px;background:url(../images/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;}
.mod18 .cf a{display:block;width:526px;height:377px;position:absolute;color:#fff;}
.mod18 .picBox{width:600px; height:600px;position:relative;overflow:hidden; padding-top:40px;margin-left: 50px;}
.mod18 .picBox ul{height:600px;position:absolute; left:0;}
.mod18 .picBox li{width:600px;height:600px;}
.mod18 .listBox{width:642px;height:100px;position:relative; padding-top:15px;overflow:hidden;margin-left: 40px;}
.mod18 .listBox ul{height:88px;position:absolute;}
.mod18 .listBox li{width:127px;height:77px;cursor:pointer;position:relative; }
.mod18 .listBox li i{display:none;}
.mod18 .listBox li a{display:block;width:127px;height:77px;}
.mod18 .listBox img{border:3px solid #fff;}
.mod18 .listBox .on img{border:3px solid #CECDCC;}
.mod18 .listBox .on{background:url(../images/img_bg.jpg) center top no-repeat;}
.mod18 .listBox .on i{display:block;}






.banner-right{
    width: 600px;
    float: left;
    margin-top: 30px;
    margin-left: 60px;
}
.banner-righta{
    width: 600px;
    height: 78px;
    background-color: red;
    position: relative;
    border-radius: 10px;
}
.ai{
    line-height: 78px;color:white;font-size: 25px;padding-left: 20px;padding-right: 5px;
}
.ao{
    display: inline-block;width: 140px;height: 35px;background-color: white;line-height: 35px;font-size: 21px;
    padding-left: 15px;color: red;border-radius: 25px;
}
.au{
    display: inline-block;width: 70px;height: 20px;line-height: 20px;color: white;
    position: absolute; right: 20px;top: 10px;
}
.ay{
    display: inline-block;width: 300px;height: 35px;line-height: 35px;
    position: absolute; right: 0;bottom: 10px;padding-left: 5px;color: white;
}
.ay span{
    display: inline-block;
    width: 22px;
    height: 35px;
    color:white;
}
.banner-right>p:first-child{
    font-size: 30px;
}
.pp{
    display: inline;
    width: 50px;
    background-color: antiquewhite;
}
.pp a{
    color: darkorange;
   
}
.banner-right>p:nth-child(6){
    padding-top: 25px;
    font-size: 15px;
    color: burlywood;
}
.ppw{
    font-size: 14px;
    line-height: 25px;
    color: gray;
}
.banner-right>p:nth-child(11) a{
    font-size: 15px;
    color: burlywood;
}
.banner-righto{
    width: 600px;
    padding-top: 20px;
}
.banner-rightoi{
    width: 290px;
    height: 60px;
    display: inline-block;
    border-radius:10px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center;
    margin-right: 10px;
}
.banner-rightou{
    width: 290px;
    height: 60px;
    display: inline-block;
    border-radius:10px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center;
}
.banner-rightol{
    width: 290px;
    height: 60px;
    border-radius:10px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
}
.banner-righto a{
    display: inline-block;
    width: 290px;
    height: 60px;
    color: black;
}
.banner-righto a:hover{
    color:red;
}
.banner-rightx{
    width: 600px;
    padding-top: 20px;
}
.banner-rightoxi{
    width: 32px;
    height: 32px;
    float: left;
    background-color: #e6e6e6;
    border-radius: 5px;
    cursor: pointer;

}
.banner-rightoxu{
    width: 32px;
    height: 32px;
    float: left;
    background-color: #e6e6e6;
    border-radius: 5px;
    cursor: pointer;
}
.shu{
    float: left;width: 80px;height: 40px;text-align: center;line-height: 35px;font-size: 14px;margin-left: 10px;color:red;
    
}
.fu{
    width: 600px;
    overflow: hidden;
}
.bao{
    width: 120px;
    float: left;
    margin-top: 30px;
}
.gou{
    width: 170px;
    margin-top: 35px;
    font-size: 12px;
    float: right;
    
}
.yan{
    width: 600px;
    margin-top: 70px;
}
.yani{
    width: 600px;
    height: 60px;
    border-radius:10px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
}
.yani a{
    color:black;
}
.yani a:hover{
    color:red;
}
.yano{
    width: 600px;
    margin-top: 20px;
}
.yanu{
    width: 600px;
    height: 60px;
    border-radius:10px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
}
.yanu a{
    color:black;
}
.yanu a:hover{
    color:red;
}
.xuan{
    width: 600px;
    margin-top: 60px;
}
.tu{
    
    margin-top: 20px;
    width: 320px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: antiquewhite;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-image: url(../images/ding.png);
    box-shadow: 0 0 10px gray;
  }
  #myBtn:hover {
    color: red;
  }


  /* 广告部分 */
  .guang{
      width: 100%;
      height: 300px;
      background-image: url(../images/guang.png);
      overflow: hidden;
      position: relative;
  }
  .guang img{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 16px;
      height: 16px;
      background-color: antiquewhite;
      cursor: pointer;
  }


  /* tab选项卡 */
.tab{
    width: 100%;
    border-top: 1px solid black;
    margin-top: 40px;
    overflow: hidden;
}
.tab_list{
    width: 100%;
    height: 60px;
}
.tab_list ul{
    margin-left: 500px;
}
.tab_list li{
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-align: center;
    cursor: pointer;
}
.current{
    display: inline-block;
    width: 70px;
    height: 60px;
    border-bottom: 5px solid red;
    color: darkslategray;
}
.item{
    display: none;
}
